<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

</head>
<body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/assets/images-removebg-preview (5).png" alt="" srcset="">
            Hella Hopes</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/Cocacola">Coca-Cola</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Sprite">Sprite</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ThumsUp">Thums Up</a>
              </li>
              
            </ul>
            
            <a class="nav-link" href="<%=isLoggedIn?'/profile':'/'%>"><%=isLoggedIn?'Profile':'Home'%></a>&nbsp;||
            <%if(!isLoggedIn){%>
              <a href="/signin" class="nav-link">&nbsp;Signin</a>||
                <%}else{%>
                  <a href="/addcart" class="nav-link">&nbsp;Cart</a>
                  <%}%>
                  <%if(!isLoggedIn){%>
           <a class="nav-link" href="/signup">&nbsp;Signup</a>
                    <%}%>

          </div>
        </div>
      </nav>
