<%- include('./partials/header') %>

<div class="product container mt-5 mb-5">
  <div class="productImg">
    <img src="/images/coca-cola-soft-drink-2l-removebg-preview.png" alt="" srcset="">
  </div>
  <div class="productInfo">
    <form action="/" method="post">
      <span><img src="/images/plain-barcode-labels-250x250-removebg-preview.png" alt="" srcset="" width="20px"></span>
      <h6>Coca-Cola 2 ltr.</h6>
      <p>The same delicious, uplifting, and refreshing taste of Coca-Cola, without the sugar. Best known soft drink in the world. Whether it be a Party Coca-Cola bottle, or a mini, or an ice-cold Diet Coke, or a Coca-Cola Zero sugar in a can, there's a refreshing way to enjoy your own!</p>
      <input type="hidden" value="Coca-Cola 2 ltr." name="productName">
      <input type="hidden" value="100" name="productPrize">
      <input type="hidden" name="productImg" id="" value="/images/coca-cola-soft-drink-2l-removebg-preview.png" class="d-none">
      <button class="btn btn-warning ps-1 pe-1 w-25">₹ 100</button>
    </form>
  </div>
</div>


<div class="product container mt-5 mb-5">
  <div class="productImg">
    <img src="/images/coca-cola-300-ml-product-images-o490809341-p490809341-0-202210071748-removebg-preview.png" alt="" srcset="">
  </div>
  <div class="productInfo">
    <form action="/" method="post">
      <span><img src="/images/plain-barcode-labels-250x250-removebg-preview.png" alt="" srcset="" width="20px"></span>
      <h6>Coca-Cola 300 ml</h6>
      <p>The same delicious, uplifting, and refreshing taste of Coca-Cola, without the sugar. Best known soft drink in the world. Whether it be a Party Coca-Cola bottle, or a mini, or an ice-cold Diet Coke, or a Coca-Cola Zero sugar in a can, there's a refreshing way to enjoy your own!</p>
      <input type="hidden" value="Coca-Cola 300 ml" name="productName">
      <input type="hidden" value="40" name="productPrize">
      <input type="hidden" name="productImg" id="" value="/images/coca-cola-300-ml-product-images-o490809341-p490809341-0-202210071748-removebg-preview.png" class="d-none">
      <button class="btn btn-warning ps-1 pe-1 w-25">₹ 40</button>
    </form>
  </div>
</div>


<div class="product container mt-5 mb-5">
  <div class="productImg">
    <img src="/images/750ml-coca-cola-soft-drink-removebg-preview.png" alt="" srcset="">
  </div>
  <div class="productInfo">
    <form action="/" method="post">
      <span><img src="/images/plain-barcode-labels-250x250-removebg-preview.png" alt="" srcset="" width="20px"></span>
      <h6>Coca-Cola 750 ml</h6>
      <p>The same delicious, uplifting, and refreshing taste of Coca-Cola, without the sugar. Best known soft drink in the world. Whether it be a Party Coca-Cola bottle, or a mini, or an ice-cold Diet Coke, or a Coca-Cola Zero sugar in a can, there's a refreshing way to enjoy your own!</p>
      <input type="hidden" value="Coca-Cola 750 ml" name="productName">
      <input type="hidden" value="40" name="productPrize">
      <input type="hidden" name="productImg" id="" value="/images/750ml-coca-cola-soft-drink-removebg-preview.png" class="d-none">
      <button class="btn btn-warning ps-1 pe-1 w-25">₹ 40</button>
    </form>
  </div>
</div>


<%- include('./partials/footer') %>