<%- include('./partials/header') %>

<div class="product container mt-5 mb-5">
  <div class="productImg">
    <img src="/images/61tiR5teCjL-removebg-preview.png" alt="" srcset=""n>
  </div>
  <div class="productInfo">
    <form action="/" method="post">
      <h6>Thums Up</h6>
      <input type="hidden" value="BIRA BOOM 500ML CAN
      " name="productName"><br>
      <p>Taste of thunder for your adventurous mood. A perfect drink to bring out the toofani side of yours with a punch of soda. Thums Up is among the largest selling soft drinks in the country and has been a favourite among the adventure-inclined youngsters for several decades.
      </p>
        <input type="hidden" value="95" name="productPrize">
      <input type="hidden" name="productImg" id="" value="/images/61tiR5teCjL-removebg-preview.png" class="d-none">
      <button class="btn btn-warning p-1 w-25">₹ 95</button>

    </form>
  </div>
</div>


<div class="product container mt-5 mb-5">
  <div class="productImg">
    <img src="/images/Thumbs_up_can_300ml-removebg-preview.png" alt="" srcset="">
  </div>
  <div class="productInfo">
    <form action="/" method="post">
      <span><img src="/images/plain-barcode-labels-250x250-removebg-preview.png" alt="" srcset="" width="20px"></span>
      <h6>Thums Up 300 ml</h6>
      <p>Taste of thunder for your adventurous mood. A perfect drink to bring out the toofani side of yours with a punch of soda. Thums Up is among the largest selling soft drinks in the country and has been a favourite among the adventure-inclined youngsters for several decades.
      </p>      <input type="hidden" value="Thums Up 300 ml" name="productName">
      <input type="hidden" value="40" name="productPrize">
      <input type="hidden" name="productImg" id="" value="/images/Thumbs_up_can_300ml-removebg-preview.png" class="d-none">
      <button class="btn btn-warning ps-1 pe-1 w-25">₹ 40</button>
    </form>
  </div>
</div>


<div class="product container mt-5 mb-5">
  <div class="productImg">
    <img src="/images/51xhpEQimiL._AC_UF1000_1000_QL80_-removebg-preview.png" alt="" srcset="">
  </div>
  <div class="productInfo">
    <form action="/" method="post">
      <span><img src="/images/plain-barcode-labels-250x250-removebg-preview.png" alt="" srcset="" width="20px"></span>
      <h6>Thums Up 750 ml</h6>
      <p>Taste of thunder for your adventurous mood. A perfect drink to bring out the toofani side of yours with a punch of soda. Thums Up is among the largest selling soft drinks in the country and has been a favourite among the adventure-inclined youngsters for several decades.
      </p>     <input type="hidden" value="Thums Up 750 ml" name="productName">
      <input type="hidden" value="40" name="productPrize">
      <input type="hidden" name="productImg" id="" value="/images/51xhpEQimiL._AC_UF1000_1000_QL80_-removebg-preview.png" class="d-none">
      <button class="btn btn-warning ps-1 pe-1 w-25">₹ 40</button>
    </form>
  </div>
</div>




<%- include('./partials/footer') %>