<%-include('./partials/header')%>


<div class="container w-100 d-flex flex-column align-items-center h-75" style="background-image: url(https://images.unsplash.com/photo-1579488016412-273f94b0b453?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1982&q=80); background-size: contain; background-repeat: no-repeat; background-position: center;">
    <img src="/images/assets/images-removebg-preview (5).png" alt="" srcset="" width="150px">
<h3>Change Password</h3>
<form 
action="/forget-password/<%=id%>" 
method="post"
class="d-flex flex-column align-items-center w-75"
>

<input 
type="password" 
name="password" 
placeholder="New Password"
class="w-50 mb-3 p-2 rounded border"
>

<button class="btn btn-primary w-50 mb-2" >Change password</button>
<a href="/">Home</a>

</form>
</div>
<%-include('./partials/footer')%>