<%- include('./partials/header') %>


<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1613590759544-48ad7834d05f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" class="d-block" alt="..." width="100%" height="535px">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1598556482684-044135065fad?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" class="d-block" width="100%" height="535px" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1600456594262-3c4dcbdb07ed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" class="d-block" width="100%" height="535px" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<marquee behavior="" direction="">HELLA HOPES &nbsp; HELLA HOPES &nbsp; HELLA HOPES &nbsp; HELLA HOPES &nbsp;
</marquee>

<!-- <img src="https://www.easel.ly/blog/wp-content/uploads/2015/12/image004.jpg" alt="" width="35%" height="90%" class="history"> -->
<p class="history">The history of soft drinks in India starts from the Banta, also known as Goli Soda, and there was a soda drink called Kalimark, which came in 1916. Earlier in Mumbai, a person named Henry Rogers also launched a soda drink which was named Rogers. After this, some Parsi traders also set foot in the business of soft drinks.

  These soft drinks or soda drinks were before the independence of India. The real war on soft drinks started after India's independence.
  
  </p>


<div class="wine">
  <div class="wineImg">
    <img src="https://images.unsplash.com/photo-1596803244618-8dbee441d70b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" alt="" width="80%" height="80%">
  </div>
  <div class="wineInfo">
    <h4>Coca-Cola</h4>
    <p>The Coca-Cola Company is an American multinational corporation founded in 1892, best known as the producer of Coca-Cola. The drink industry company also manufactures, sells, and markets other non-alcoholic beverage concentrates and syrups, and alcoholic beverages</p>
  </div>
</div>

<div class="product container mt-5 mb-5">
  <div class="productImg">
    <img src="/images/coca-cola-soft-drink-2l-removebg-preview.png" alt="" srcset="">
  </div>
  <div class="productInfo">
    <form action="/" method="post">
      <span><img src="/images/plain-barcode-labels-250x250-removebg-preview.png" alt="" srcset="" width="20px"></span>
      <h6>Coca-Cola 2 ltr.</h6>
      <p>The same delicious, uplifting, and refreshing taste of Coca-Cola, without the sugar. Best known soft drink in the world. Whether it be a Party Coca-Cola bottle, or a mini, or an ice-cold Diet Coke, or a Coca-Cola Zero sugar in a can, there's a refreshing way to enjoy your own!</p>
      <input type="hidden" value="Coca-Cola 2 ltr." name="productName">
      <input type="hidden" value="100" name="productPrize">
      <input type="hidden" name="productImg" id="" value="/images/coca-cola-soft-drink-2l-removebg-preview.png" class="d-none">
      <button class="btn btn-warning ps-1 pe-1 w-25">₹ 100</button>
    </form>
  </div>
</div>



<div class="wine">
  <div class="wineInfo">
    <h4>Sprite</h4>
    <p>Sprite is a clear, lemon and lime-flavored soft drink created by the Coca-Cola Company. Sprite comes in multiple flavors, including cranberry, cherry, grape, orange, tropical, ginger, and vanilla. Ice, peach, Berryclear remix, and newer versions of the drinks are artificially sweetened</p>
  </div>
  <div class="wineImg">
    <img src="https://images.unsplash.com/photo-1680404005217-a441afdefe83?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80" alt="" width="80%" height="80%">
  </div>
</div>

<div class="product container mt-5 mb-5">
  <div class="productImg">
    <img src="/images/251040-9_2-sprite-soft-drink-lime-flavoured-removebg-preview.png" alt="" srcset=""n>
  </div>
  <div class="productInfo">
    <form action="/" method="post">
      <span><img src="/images/plain-barcode-labels-250x250-removebg-preview.png" alt="" srcset="" width="20px"></span>
      <h6>Sprite 2 ltr.</h6>
      <p>Sprite is a clear lime drink for your perfect summers. Gives you delicious lime flavour to quench your thirst and enjoy hot weather.
      </p>
      <input type="hidden" value="Sprite 2 ltr.
      " name="productName"><br>
        <input type="hidden" value="99" name="productPrize">
      <input type="hidden" name="productImg" id="" value="/images/251040-9_2-sprite-soft-drink-lime-flavoured-removebg-preview.png" class="d-none">
      <button class="btn btn-warning ps-1 pe-1 w-25">₹ 99</button>
    </form>
  </div>
</div>



<div class="wine">
  <div class="wineImg">
    <img src="https://images.unsplash.com/photo-1628340814848-17c9d6ba00b9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="" width="80%" height="80%">
  </div>
  <div class="wineInfo">
    <h4>Thums Up</h4>
    <p>Thums Up is an Indian brand of cola. It was introduced in 1977 to offset the withdrawal of The Coca-Cola Company from India. The brand was later bought by Coca-Cola who re-launched it in order to compete against Pepsi to capture the market.</p>
  </div>
</div>



<div class="product container mt-5 mb-5">
  <div class="productImg">
    <img src="/images/61tiR5teCjL-removebg-preview.png" alt="" srcset=""n>
  </div>
  <div class="productInfo">
    <form action="/" method="post">
      <h6>Thums Up</h6>
      <input type="hidden" value="BIRA BOOM 500ML CAN
      " name="productName"><br>
      <p>Taste of thunder for your adventurous mood. A perfect drink to bring out the toofani side of yours with a punch of soda. Thums Up is among the largest selling soft drinks in the country and has been a favourite among the adventure-inclined youngsters for several decades.
      </p>
        <input type="hidden" value="95" name="productPrize">
      <input type="hidden" name="productImg" id="" value="/images/61tiR5teCjL-removebg-preview.png" class="d-none">
      <button class="btn btn-warning p-1 w-25">₹ 95</button>

    </form>
  </div>
</div>


<%- include('./partials/footer') %>