<%- include('./partials/header') %>

<div class="product container mt-5 mb-5">
  <div class="productImg">
    <img src="/images/251040-9_2-sprite-soft-drink-lime-flavoured-removebg-preview.png" alt="" srcset=""n>
  </div>
  <div class="productInfo">
    <form action="/" method="post">
      <span><img src="/images/plain-barcode-labels-250x250-removebg-preview.png" alt="" srcset="" width="20px"></span>
      <h6>Sprite 2 ltr.</h6>
      <p>Sprite is a clear lime drink for your perfect summers. Gives you delicious lime flavour to quench your thirst and enjoy hot weather.
      </p>
      <input type="hidden" value="Sprite 2 ltr.
      " name="productName"><br>
        <input type="hidden" value="99" name="productPrize">
      <input type="hidden" name="productImg" id="" value="/images/251040-9_2-sprite-soft-drink-lime-flavoured-removebg-preview.png" class="d-none">
      <button class="btn btn-warning ps-1 pe-1 w-25">₹ 99</button>
    </form>
  </div>
</div>

<div class="product container mt-5 mb-5">
  <div class="productImg">
    <img src="/images/Sprite_Soft_Drink_can_300ml-removebg-preview.png" alt="" srcset="">
  </div>
  <div class="productInfo">
    <form action="/" method="post">
      <span><img src="/images/plain-barcode-labels-250x250-removebg-preview.png" alt="" srcset="" width="20px"></span>
      <h6>Sprite 300 ml</h6>
      <p>Sprite is a clear lime drink for your perfect summers. Gives you delicious lime flavour to quench your thirst and enjoy hot weather.
      </p>      <input type="hidden" value="Sprite 300 ml" name="productName">
      <input type="hidden" value="40" name="productPrize">
      <input type="hidden" name="productImg" id="" value="/images/Sprite_Soft_Drink_can_300ml-removebg-preview.png" class="d-none">
      <button class="btn btn-warning ps-1 pe-1 w-25">₹ 40</button>
    </form>
  </div>
</div>


<div class="product container mt-5 mb-5">
  <div class="productImg">
    <img src="/images/sprite-750-ml-product-images-o491085934-p491085934-0-202203150230-removebg-preview.png" alt="" srcset="">
  </div>
  <div class="productInfo">
    <form action="/" method="post">
      <span><img src="/images/plain-barcode-labels-250x250-removebg-preview.png" alt="" srcset="" width="20px"></span>
      <h6>Sprite 750 ml</h6>
      <p>Sprite is a clear lime drink for your perfect summers. Gives you delicious lime flavour to quench your thirst and enjoy hot weather.
      </p>      <input type="hidden" value="Sprite 750 ml" name="productName">
      <input type="hidden" value="40" name="productPrize">
      <input type="hidden" name="productImg" id="" value="/images/sprite-750-ml-product-images-o491085934-p491085934-0-202203150230-removebg-preview.png" class="d-none">
      <button class="btn btn-warning ps-1 pe-1 w-25">₹ 40</button>
    </form>
  </div>
</div>



<%- include('./partials/footer') %>